# CMake
!CMakeLists.txt

# Other
**/*.o
**/*.so
**/*.a
**/*.d
**/*.out
**/*-txl
**/*.zip
**/*.dump
**/*.log
out/
build/
bench/
test/downloads
build*/
.cache/
.vscode/
generated.S
cmake-build-*
compile_commands.json
result
__pycache__
.direnv/

**/*.dot
**/*.dot.*

*.ll

result-*
phoenix-*
parsec-*

guest-sections.lds
